<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>글쓰기</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

</head>
<body>
  <div class="container">
      <div class="form-check" th:each="category : ${categoryList}">
          <input class="form-check-input category-checkbox" type="checkbox" th:value="${category.id}" >
          <label class="form-check-label"  th:text="${category.name}">
          </label>
      </div>

    <input id="title" class="form-control" name="title" placeholder="제목">
    <textarea id="content"  class="form-control mt-2" name="content" placeholder="내용"></textarea>
    <div class="text-center">
        <button id="submit-btn" type="submit" class="btn btn-primary">글쓰기</button>
    </div>

  </div>
  <script >
        var title=document.getElementById("title")
        var content=document.getElementById("content")

        var submitBtn=document.getElementById("submit-btn")

        submitBtn.addEventListener("click",event=>{
            var selectedCheckbox=document.querySelectorAll(".category-checkbox:checked")
            var values=Array.from(selectedCheckbox).map(checkbox=>checkbox.value)

            fetch("/api/articles",{
                method:"POST",
                headers:{
                    "Content-Type":"application/json"
                },
                body:JSON.stringify({
                    title:title.value,
                    content:content.value,
                    categoryIds:values
                })
            })
            .then((res) => {
                return res.json();
            })
            .then(result=>{
               console.log(result)
               if(result.success){  //작성성공시
                location.href="/article/"+result.article.id //작성한 글로 이동
               }
            })
        })


  </script>
</body>
</html>